	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
	   <meta http-equiv="X-UA-Compatible" content="IE=edge">
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <meta name="format-detection" content="telephone=no"> <!-- use where needed -->

	   <title>{{Unique Page Title}}</title>

	   <meta name="description" content="SEO FRIENDLY DESCRIPTION. SEE GUIDELINES.">
	   <meta name="keywords" content="REQUIRED FOR AT&amp;T SEARCH. SEE GUIDELINES.">
	   <meta name="robots" content="INDEX,FOLLOW">
	   <!-- WEBTRENDS AND TAGGING META -->
	   <meta NAME="DCSext.wtPN" CONTENT="Sandbox3.2.0-basic-article-layout">

		 <link href="FULL URL OF DESKTOP VERSION OF THE PAGE, INCLUDING PROTOCOL" rel="canonical">
	   <link href="//0.ecom.attccc.com/styles/att/assets3.2.0/css/sandbox-styles.min.css" rel="stylesheet">

	   <!-- iOS icons -->
	   <link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-57.png" sizes="57x57"> <!-- non-retina iPhone pre iOS 7 -->
		<link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-72.png" sizes="72x72"> <!-- non-retina iPad pre iOS 7 -->
		<link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-76.png" sizes="76x76"> <!-- non-retina iPad iOS 7 -->
		<link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-114.png" sizes="114x114"> <!-- retina iPhone pre iOS 7 -->
		<link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-120.png" sizes="120x120"> <!-- retina iPhone iOS 7 -->
	   <link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-144.png" sizes="144x144"> <!-- retina iPad pre iOS 7 -->
		<link rel="apple-touch-icon" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/icon-152.png" sizes="152x152"> <!-- retina iPad iOS 7 -->
	   <!-- Android icon -->
	   <link rel="apple-touch-icon-precomposed" href="//0.ecom.attccc.com/styles/att/assets3.2.0/images/android-icon.png" sizes="192x192">
	   <!-- Windows Icons -->
	   <meta name="application-name" content="AT&amp;T">
	   <meta name="msapplication-TileColor" content="#ef6f00">
	   <meta name="msapplication-TileImage" content="//0.ecom.attccc.com/styles/att/assets3.2.0/images/att-ms-icon-square.png">
	   <meta name="msapplication-square70x70logo" content="//0.ecom.attccc.com/styles/att/assets3.2.0/images/att-ms-icon-tiny.png">
	   <meta name="msapplication-square150x150logo" content="//0.ecom.attccc.com/styles/att/assets3.2.0/images/att-ms-icon-square.png">
	   <meta name="msapplication-wide310x150logo" content="//0.ecom.attccc.com/styles/att/assets3.2.0/images/att-ms-icon-wide.png">
	   <meta name="msapplication-square310x310logo" content="//0.ecom.attccc.com/styles/att/assets3.2.0/images/att-ms-icon-large.png">

	   <script src="//0.ecom.attccc.com/styles/att/assets3.2.0/js/jquery.min.js"></script>
	   <script src="//0.ecom.attccc.com/styles/att/assets3.2.0/js/global-sandbox.min.js"></script>
	   <script>
	      (function() {
	         if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
	            var msViewportStyle = document.createElement("style");
	            msViewportStyle.appendChild( document.createTextNode("@-ms-viewport{width:auto!important}") );
	            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
	         }
	      })();
	   </script>
	   <!--[if lt IE 9]>
	      <script src="//0.ecom.attccc.com/styles/att/assets3.2.0/js/respond.js"></script>
	      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	   <![endif]-->
	</head>
	<body>
	<div data-role="page" class="container">
	   <section class="row main-content">
	      <div class="span12">
	         <div class="page-header">
	            <h1><strong>Big Data: The Information Transformation</strong></h1>
	         </div>
	         <hr class="hr-large">

	         <!-- begin content area -->

	         <div class="content-pad">
	            <p><strong>Course Description</strong></p>

	<p>This module explores Big Data and its implications. Some thought leaders believe that in the future Big Data will be as fundamental to business as land, labor and capital.</p>

		<p><strong> Course Objectives </strong></p>
		<p>•Explain the difference between Business Intelligence and Big Data</p>
		<p>•Summarize the impact data science, analytics and visualization can have on business</p>
		<p>•List and explain the three Vs of Big Data</p>
		<p>•Describe three different location tracking options and the benefits of each</p>
		<p>•List three ways to ease the friction between Big Data and privacy</p>

	<p>
	Principal Competencies
	Technology Expertise, Big Data Management and Analytics


	Extraordinary Leader Model Competency Group
	Personal Capability


	AT&T Value
	Deliver the future first
	</p>
	</div>
				<div>
	        <a href="https://hr.web.att.com/tuniversity/TU/SitePages/Courses/tls_tech_module7.aspx"</a>
						 <button class="btn btn-large btn-block" type="button">Course Webpage </button>
	         </div>
					 <div>
						 <a href="#"</a>
						 <button class="btn btn-large btn-block" type="button" style="background-color:red">Remove Course from Bookmark</button>
					 </div>

	   </section>

	</body>
	</html>
