<div class="list-head sandbox-code-heading content-pad">
	<div class="head"><h2>Welcome, human</h2></div>
</div>
<hr class="hr-small">


<a href="#">
            <div class="row-fluid-nowrap">
               <div class="span11 usage-bar"
							 style="
    			 			margin-left: 20px;
    						margin-top: 10px;
    						margin-right: 10px;
    						margin-bottom: 10px;
										">
                  <div class="usage-text">Tracker</div>
                  <div class="usage-text text-right"><strong>8</strong> of 20 Bookmarked Courses are finished</div>
                  <div class="progress progress-success">
                     <div data-percentage="36" class="bar" style="width:36%;"></div>
                  </div>
                  <div class="hidden-spoken">{{ add any additional content to help screen readers understand the meaning of this }}</div>
               </div>
            </div>
						<hr class="hr-small"></hr>
</a>

<div class="row-fluid-nowrap" style="
 margin-bottom: 20px;">
 <div class="row-fluid-nowrap" style="
    			 			margin-left: 20px;
    						margin-top: 10px;
    						margin-right: 20px;
    						margin-bottom: 10px;
										">
      <div class="span6">
         <button class="btn btn-alt btn-large btn-block" type="button">Role Courses</button>
      </div>
      <div class="span6">
         <button class="btn btn-large btn-block" type="button">Specialization Courses</button>
      </div>
   </div>
	 <div class="span12">
			<img src="http://frogchaser.github.io/Hackathon2015/assets/img/pieChart1.JPG" alt="image">
	 </div>
</div>
<hr class="hr-small"></hr>
<div class="row-fluid-nowrap">
	 <div class="span12">
			<img src="http://frogchaser.github.io/Hackathon2015/assets/img/PieChart3.JPG" alt="image">
	 </div>
</div>
