<div class="list-head sandbox-code-heading content-pad">
	<div class="head"><h2>Bookmarked Classes</h2></div>
</div>
<hr class="hr-small">

<ul class="list" style="padding:0px 20px 20px 20px">
	<li ng-repeat="bookmark in bookmarks | orderBy:'name'" >
		<div>
			<a ng-click="goFloor(bookmark.name, bookmark.description)">
				<header>
					<aside style="float:left">
						<span class="bookmarks-name">{{ bookmark.name }}</span>
					</aside>
					<aside style="float:right">
						<button type="button" class="btn btn-xs btn-danger" style="height:50%">Remove</button>		</a>
					</aside>
				</header>
				<section style="padding: 30px 30px 0px 0px">
					<span class="bookmarks-description">{{ bookmark.description }}</span>
				</section>
			</div>
		</br>
		</li>
	</ul>
