<div ng-controller="wizardController" ng-switch="step">
  <div class="list-head sandbox-code-heading content-pad">
    <div>
      <center>
        <h2 ng-if="step == 'Welcome'">Welcome to G2GFP!</h2>
        <h2 ng-if="step == 'Role'">Roles of Interest</h2>
        <h2 ng-if="step == 'Specialization'">Specializations of Interest</h2>
        <h2 ng-if="step == 'Refine' || step == 'Refine2'">Refine Recommendations</h2>
      </center>
    </div>
  </div>

  <div ng-switch-when="Welcome">
    <h4>
      <center>On the next few screens,
        <br>you will make selections
        <br>according to your learing interests.
        <br>
        <br>You can always change your preferences later.
        <br><br>
      </center>
    </h4>
    <button type="button" class="btn btn-large btn-block" ng-click="goToRole()">Begin</button>
  </div>

  <!-- Step 1 for wizard -->
  <div ng-switch-when="Role">
    <center>
      <h4>Choose whichever you roles you would be interested in learning
        <h4>
          <ul>
            <li ng-repeat="role in roles" style="display:inline;">
              <button class="btn btn-default li-space" style="width:45%;" ng-model="rolesSelected[role]" ng-if="$index%2==0" btn-checkbox>{{role}}</button>
              <button class="btn btn-default li-space" style="width:45%;" ng-model="rolesSelected[role]" ng-if="$index%2!=0" btn-checkbox>{{role}}</button>
            </li>
          </ul>
          <br>
          <button type="button" class="btn btn-large progress-btn" ng-click="goToWelcome()">Back</button>
          <button type="button" class="btn btn-large progress-btn" ng-click="goToSpecialization()">Next</button>
    </center>
  </div>

  <!-- Step 2 for wizard -->
  <div ng-switch-when="Specialization">
    <center>
    <ul>
      <li ng-repeat="spec in specializations">
        <button class="btn btn-default li-space" style="width:45%;" ng-model="specsSelected[spec]" btn-checkbox>{{spec}}</input>
      </li>
    </ul>
    <button type="button" class="btn btn-large progress-btn" ng-click="goToRole()">Back</button>
    <button type="button" class="btn btn-large progress-btn" ng-click="goToRefine()">Continue</button>
    </center>
  </div>


  <!--Step 3 for wizard -->
    <div ng-switch-when="Refine">
      <center>
        <h4>
          Indicate whatever you are interested or <br>not intereseted in the given areas.<br><br>
          This will help refine what courses are <br>recommended to you in the future.
      </h4>
      <button type="button" class="btn btn-large progress-btn" ng-click="goToSpecialization()">Back</button>
      <button type="button" class="btn btn-large progress-btn" ng-click="goToRefine2()">Continue</button>
      </center>
    </div>

    <!--step 4 for wizard -->
    <div ng-switch-when="Refine2">
      <center>
      <ul>
        <li ng-repeat="course in coursesShown  | limitTo:maxCoursesShown" class="course-info">
          <div class="course-text">
          <span class="bookmarks-name">{{course.Name}}</span> <br>
          Synopsis: {{course.Description}}<br>
        </div>
          <div ng-if="courseSelected[course.Name]==null">
          <button type="button" class="btn btn-default btn-xs li-space" style="width:40%;" ng-click="courseSelect(course.Name, false)">Not Interested</button>
          <button type="button" class="btn btn-default btn-xs li-space" style="width:40%;" ng-click="courseSelect(course.Name, true)">Interested</button>
        </div>
        <div ng-if="courseSelected[course.Name]!=null">
          <img src="assets/img/backarrow.png" height="21" width="21" ng-click="courseSelect(course.Name, null)">
          <div ng-if="courseSelected[course.Name] == true"  class="course-option-btn"><i>Added to bookmarks</i></div>
          <div ng-if="courseSelected[course.Name] == false" class="course-option-btn"><i>Not Interested</i></div>
      </div>
        </li>
      </ul>
        <button type="button" class="btn btn-large li-space" style="width:30%;" ng-click="goToSpecialization()">Back</button>
        <button type="button" class="btn btn-link" ng-if="coursesShown.length > maxCoursesShown"ng-click="skip()">Skip</button>
        <button type="button" class="btn btn-large li-space" style="width:30%;" ng-click="goToCourses()">Finish</button>
      </center>
    </div>

</div>
