<div class="list-head sandbox-code-heading content-pad">
	<div class="back"><a href="#floor"><i class="cssIcon-chevron-r-b"></i></a></div>
	<div class="head">
		<h2>{{ building }}</h2>
		<small>{{ floor }}</small>
	</div>
</div>
<hr class="hr-small">

<div class="content-pad">
	<form id="section-form">
		<label for="sections"><h4>Sections</h4></label>
		<select id="sections" class="form-control" ng-model="floor16Sections" ng-options="section as section.name for section in sections">
		</select>
	</form>

	<div id="section-map">
		<h4>{{ floor16Sections.value }}</h4>
		<img ng-src="{{ floor16Sections.img }}" />
	</div>
</div>

<div id="seat-options">
	<a id="action-btn" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a><a id="favorite-btn" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></a>
</div>
